{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    {% if user.is_authenticated %}
    {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
    {% else %}
        <a class="btn btn-warning" href="{% url 'post_publish' pk=post.pk %}">Опубликовать</a>
    {% endif %}
    <a class="btn btn-warning" href="{% url 'post_edit' pk=post.pk %}">
        <i class="fas fa-pen"></i>
    </a>
    <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">
        <i class="far fa-trash-alt"></i>
    </a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
    <hr>
    <a class="btn btn-warning" href="{% url 'add_comment_to_post' pk=post.pk %}">Ответить</a>

    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            {% if not comment.approved_comment %}
                <a class="btn btn-warning" href="{% url 'comment_approve' pk=comment.pk %}">
                    <i class="far fa-check-circle"></i>
                </a>
            <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}">
                <i class="fas fa-times"></i>
            </a>
            {% endif %}
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks}}</p>
        </div>
        {%  endif %}

    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
</div>
{% endblock %}